<%- console.log(JSON.stringify(dados)); %>

<table width="15%">
    <thead>
        <tr>
            <th>ITEM</th>
            <th>QUANTIDADE</th>
            <th>DATA</th>
            <th>CÓDIGO DA SALA</th>
            <th>DOCENTE</th>
            <th>PONTUAÇÃO</th>
            <th>PONTUAÇÃO TOTAL DA TURMA</th>
        </tr>
    </thead>

    <tbody>
        <% for (let i = 0; i < dados.length; i++) { %>
            <tr>
                <td><%= dados[i].item %></td>

              
                <td><%= dados[i].quantidade_total %></td>

                <td><%= dados[i].data_recente %></td>
                <td><%= dados[i].codigo_sala %></td>
                <td><%= dados[i].docente %></td>

               
                <td><%= dados[i].pontuacao %></td>

               
                <td><%= dados[i].pontuacao_total %></td>
            </tr>
        <% } %>
    </tbody>

    <tfoot>
        <tr>
            <th colspan="7">
                <%- Quantidade de Doações: ${dados.length} %>
            </th>
        </tr>
    </tfoot>
</table>