<%- include("../partials/head") %>

<h1 class="titulo-index">Campanhas Ativas</h1>

<a href="/"><button>Voltar para o início</button></a>

<br><br>

<div>
    <% if (campanhas.length === 0) { %>
        <p>Nenhuma campanha cadastrada ainda.</p>
    <% } %>

    <% campanhas.forEach(c => { %>
        <div class="card">
            <h2><%= c.nome %></h2>
            <p><%= c.descricao %></p>
            <p><strong>Início:</strong> <%= c.data_inicio %></p>
            <p><strong>Fim:</strong> <%= c.data_fim %></p>

            <a href="/doar-campanha/<%= c.id %>">
                <button>Doar</button>
            </a>
        </div>
        <br>
    <% }) %>
</div>

<%- include("../partials/footer") %>
